########################################
# Playwright Portable Environment
########################################

# Browser binaries (HUGE — never commit)
**/.local-browsers/

# Browser binaries (HUGE — never commit)
**/package-lock.json

# Playwright downloaded archives (windows)
**/playwright*.zip

########################################
# Node Modules (all OS)
########################################
**/node_modules/

########################################
# Portable Node Runtimes
########################################

# Windows portable Node
win/node.exe
win/npm.cmd
win/npx.cmd

# Synology-specific node_modules
synology/node_modules/

# LINUX spewcific files 
**/playwright-env.sh

########################################
# ZIP files inside Playwright folders
########################################
*.zip

########################################
# Playwright Artifacts
########################################
trace.zip
*.log

########################################
# Persistent Browser Profiles
########################################
**/chrome-profile/
**/chrome-profile*/
**/chrome-home/
**/chrome-home*/

########################################
# OS Junk
########################################
.DS_Store
Thumbs.db